.postContainer {
    height:40em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:2em 15% 0 15%;
    padding:0 1em;
}

#post {
    margin:0;
    position: relative;
}

a {
    text-decoration: none;
    color:white;
}

/* MOBILE */
@media only screen and (min-width:320px) and (max-width:480px) {
    .postContainer {
        height:50em;
        margin:1em 1em 1em 1em;
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width:480px) and (max-width:768px) and (orientation:portrait) {
    .postContainer {
        height:50em;
        margin:1em 1em 1em 1em;
    } 
}

/* LAPTOPS & TABLETS (LANDSCAPE) */
@media only screen and (min-width:1024px) and (max-width:1439px), 
(min-width:768px) and (max-width:1023px) and (orientation:landscape) {
    .postContainer {
        height:40em;
        margin:1.25em 1em 0 1.25em;
        justify-content: space-evenly;
    }
}