.navDrawer {
    display:flex;
    justify-content: space-evenly;
}

.navContainer {
    display:flex;
    justify-content: space-evenly;
}

.iconButton{
    transform: scale(.6);
    position: relative;
}