.headlines {
    margin-top:16.5em;
    margin-left:10em; 
    margin-right:10em; 
    display:flex;
    justify-content:space-around;
    position: relative;
    top:2.5em;
}

.animationContainer {
    display: grid;
    grid-template: 10% 1fr 5% / 1fr;
    justify-items: center;
}

.codeheadline {
    grid-area: 1 / 1 / 1 / 1;
    display:flex;
    justify-content:center;
    z-index:2;
}

.lineContainer {
    height:14.9em;
    grid-area: 2 / 1 / 2 / 1;
    display:flex;
    justify-content: center;
    margin:0;
    position: relative;
    right:2.8em;
    bottom:.5em;
    z-index: -1;
}

.downarrow {
    grid-area: 3 / 1 / 3 / 1;
    height:2em;
    display: flex;
    justify-content: center;
    margin-top:0;
    bottom:1.7em;
}

/* MOBILE */
@media only screen and (min-width:320px) and (max-width:480px) {
    .headlines {
        display: flex;
        flex-direction: column;
        margin:0 0;
    }
}

/* TABLET PORTRAIT */
@media only screen and (min-width:480px) and (max-width:768px) and (orientation:portrait) {
    .headlines {
        justify-content:space-between;
    }
}