.layout {
    margin:0 20em 0 20em;
    color:white;
    
}


.greetings {
    position: relative;
    top:2em;
    width:100%;
    font-family: 'Raleway',sans-serif;
    letter-spacing: .7px;
    min-width:10em;
}

#titleName {
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 300%;
}

#titleQuestion {
    font-family: 'Raleway';
    font-weight: bold;
    position: relative;
    bottom:1em;
}

/* HubGrid */

.hubgrid {
    position:relative;
    bottom:0em;
}

/* NavBar */

.navpanel {
    position:relative;
    display:flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    padding:0;
    margin:0;
    min-width:10em;
    min-height:2em;
}

a {
    text-decoration: none;
    color: white;
}