.hubLayout {
    margin:2% 20% 2% 20%;
    color:white;
}

.greetings {
    position: relative;
    top:2em;
    width:45%;
    font-family: 'Raleway',sans-serif;
    letter-spacing: .7px;
    min-width:100%;
}

#titleName {
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 300%;
}

#titleQuestion {
    min-width:100%;
    font-family: 'Raleway';
    font-weight: bold;
    position: relative;
    bottom:1em;
}

#dialog {
    display: flex;
    justify-content: center;
    margin-top:3em;
}

/* HubGrid */

.hubgrid {
    position:relative;
    bottom:0em;
}

/* LAPTOPS & TABLETS (LANDSCAPE) */
@media only screen and (min-width:1024px) and (max-width:1439px), 
(min-width:768px) and (max-width:1023px) and (orientation:landscape) {
    .hubLayout {
        margin:1% 10% 1% 10%;
    }    
}

/* TABLET PORTRAIT */
@media only screen and (min-width:480px) and (max-width:768px) and (orientation:portrait) {
    .hubLayout {
        margin:2% 5% 2% 5%;
    }    
}