#hubGrid {
    display: grid;
    height:30.5em;
    grid-template-areas: 1fr / 1fr 1fr;
    align-content: center;
}

#buttonGrid {
    grid-area: 1 / 1 / 1 / 1;
}


#tLines {
    position: absolute;
    top:21.98em;
    left:26em;
    height:13.5em;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:0;
}

#flexButtons {
    display:flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom:0;
}

#cssIcon {
    border:1px solid white;
}

#medicon {
    border:1px solid white;
}