@keyframes example {
    from {background-color:red;}
    to {background-color: rebeccapurple;}
}

div {
    width:100px;
    height:100px;
    background-color:red;
    animation-name: example;
    animation-duration:5s;
}
